* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu-icon {
    display: flex;
    font-size: 30px;
    cursor: pointer;
}
.nav-links.active {
    display: flex;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }
    .nav-links li {
        padding: 10px;
    }
    .menu-icon {
        display: block;
    }
}