* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img1 {
    width: 580px;
    height: 220px;
}
.img2 {
    width: 580px;
    height: 220px;
}
.img3 {
    width: 580px;
    height: 220px;
}
.img4 {
    width: 580px;
    height: 220px;
}
@media only screen and (max-width:900px) {
    .img {
        display: flex;
        flex-wrap: wrap;
    }
    .img1 {width: 50%;float: left;}
    .img2 {width: 50%;float: left;}
    .img3 {width: 50%;clear: right;}
    .img4 {width: 50%;float: right;}
}
@media only screen and (max-width:1500px) {
    .img {
        display: flex;
    }
    .img1 {
        width: 25%;
        height: 200px;
    }
    .img2 {
        width: 25%;
        height: 200px;
    }
    .img3 {
        width: 25%;
        height: 200px;
    }
    .img4 {
        width: 25%;
        height: 200px;
    }
}
